<!DOCTYPE html>
    <html>
    <head>
        <title>Upload Mashup Files</title>
        <link rel="stylesheet" href="../static/style/style2.css">
        <!-- css importado -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 class="tittle">FAÇA SEU MASHUP AQUI:</h1>
        <div class="container"> 
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <h3>Insira seu arquivo de áudio .wav</h3>
                    <input type="file" name="file1">
                </div>
                <div class="input-group">
                    <h3>Insira seu arquivo de áudio .wav</h3>
                    <input type="file" name="file2">
                </div>
                <input type="submit" value="Mashup">
        </div>
    </body>
    </html>

    """